[user]
	name = Sean Christopherson
	email = sean.j.christopherson@intel.com
[branch]
	autosetuprebase = always
[http]
	cookiefile = /home/sean/.gitcookies
[core]
	excludesfile = ~/go/src/github.com/sean-jc/settings/git/.gitignore
[credential]
	helper = cache --timeout=3600
[diff]
	renames = true
	algorithm = patience
[sendemail]
	smtpserver = or-out.intel.com
	smtpserverport = 25
	cc = sean.j.christopherson@intel.com
	bcc = sean.j.christopherson@linux.intel.com
